@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard | @ViewData["Title"]</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/Admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <!-- iCheck -->
    <link rel="stylesheet" href="/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="/Admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/Admin/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/Admin/plugins/summernote/summernote-bs4.min.css">
    <link href="~/Admin/plugins/animate.css/animate.min.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @{
            string controller = @ViewContext.RouteData.Values["Controller"].ToString();
            string action = @ViewContext.RouteData.Values["Action"].ToString();
        }

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="/Admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="@controller" asp-action="Index">@controller /</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="far fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                        <span class="dropdown-item dropdown-header">Admin Logout</span>
                        <div class="dropdown-divider"></div>
                        <div class="mt-2 mb-3 ml-2">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            <form method="post" asp-area="Admin" asp-controller="Account" asp-action="Logout" style="display:inline-block">
                                <input type="submit" value="Logout" class="nav-item" />
                            </form>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="/Admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Gym</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/Admin/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Welcome Admin</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        @if (controller == "Dashboard")
                        {
                            <li class="nav-item">
                                <a asp-controller="Dashboard" asp-action="Index" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                        }

                        @if (controller == "Biography")
                        {
                            <li class="nav-item">
                                <a asp-controller="Biography" asp-action="Index" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Biography</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Biography" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Biography</p>
                                </a>
                            </li>
                        }

                        @if (controller == "Sliders")
                        {
                            <li class="nav-item">
                                <a asp-controller="Sliders" asp-action="Index" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Slider</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Sliders" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Slider</p>
                                </a>
                            </li>
                        }

                        @if (controller == "Courses")
                        {
                            <li class="nav-item">
                                <a asp-controller="Courses" asp-action="Index" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Courses</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Courses" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Courses</p>
                                </a>
                            </li>
                        }
                        @if (controller == "Doctors")
                        {
                            <li class="nav-item">
                                <a asp-controller="Doctors" asp-action="Index" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Doctors</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Doctors" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Doctors</p>
                                </a>
                            </li>
                        }

                        @if (controller == "Blogs")
                        {
                            <li class="nav-item">
                                <a asp-controller="Blogs" asp-action="Index" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Blogs</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Blogs" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Blogs</p>
                                </a>
                            </li>
                        }

                        @if (controller == "Groups")
                        {
                            <li class="nav-item">
                                <a asp-controller="Groups" asp-action="Index" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Groups</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Groups" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Groups</p>
                                </a>
                            </li>
                        }

                        @if (controller == "Certificates")
                        {
                            <li class="nav-item">
                                <a asp-controller="Certificates" asp-action="Index" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Certificates</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Certificates" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Certificates</p>
                                </a>
                            </li>
                        }

                        @if (controller == "Requests")
                        {
                            <li class="nav-item">
                                <a asp-controller="Requests" asp-action="Index" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Requests</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Requests" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Requests</p>
                                </a>
                            </li>
                        }


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="container-fluid">
            <div class="content-wrapper">

                @RenderBody()

            </div>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2021 Sayed Mosaad</strong>
            All rights reserved.

        </footer>


    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Admin/jquery/jquery.js"></script>
    <script src="~/Admin/plugins/bootbox.js/bootbox.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Admin/plugins/jquery-ui/jquery-ui.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- daterangepicker -->
    <script src="/Admin/plugins/moment/moment.min.js"></script>
    <script src="/Admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/Admin/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Admin/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Admin/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/Admin/dist/js/pages/dashboard.js"></script>
    @RenderSection("Scripts", false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
